@import "@/assets/style/public.scss";

$breakpoint: (
  'xs': 576px,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px,
  'xl': 1920px,
);

$marginList:(
  'sm': $margin,
  'xs': $margin,
  'md': $margin,
  'lg': 0,
  'xl': 0,
);

@mixin MarginTop($list, $points:$breakpoint) {
  @each $point, $size in $list {
    @if map-has_key($points, $point){
      $point: map_get($points, $point)
    }
    @media screen and (min-width: $point) {
      margin-top: $size;
    }
  }
}

@mixin MarginBottom($list, $points:$breakpoint) {
  @each $point, $size in $list {
    @if map-has_key($points, $point){
      $point: map_get($points, $point)
    }
    @media screen and (min-width: $point) {
      margin-bottom: $size;
    }
  }
}

@mixin MarginLeft($list, $points:$breakpoint) {
  @each $point, $size in $list {
    @if map-has_key($points, $point){
      $point: map_get($points, $point)
    }
    @media screen and (min-width: $point) {
      margin-left: $size;
    }
  }
}

@mixin MarginRight($list, $points:$breakpoint) {
  @each $point, $size in $list {
    @if map-has_key($points, $point){
      $point: map_get($points, $point)
    }
    @media screen and (min-width: $point) {
      margin-right: $size;
    }
  }
}
